{% extends "PgGsbFraisBundle::accueil2.html.twig" %}
{% block menu %}



{{parent()}}
<div id="contenu">

<<<<<<< HEAD
=======
      <h2>Liste des tablettes et leurs affectations
>>>>>>> 5f57fe59323c9c2adaad7c30607c0c07f4868604
      
<table classe="listeLegere">
       <tr>
       <th> Visiteurs</th>
       <th> Numéro Tablette</th>
       <th> Type de Tablette</th>
       <th> Mémoire Interne</th>
       <th> Mémoire Externe</th>
      
       </tr>
       {%for uneListe in lesTablettes%} 
       <tr>


       <td>{{uneListe.refVisiteur}}</td>
       <td>{{uneListe.idtablette}}</td>
       <td>{{uneListe.type}}</td>
       <td>{{uneListe.memoire}} </td>
       <td>{{uneListe.memoireExt}}</td>
       
       </br>
   </tr>
   {% endfor %}
</table>   
       
<<<<<<< HEAD
     </div> 

=======
     </div> s
>>>>>>> 5f57fe59323c9c2adaad7c30607c0c07f4868604
{% endblock %}