{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block menu %}



{{parent()}}
<div id="contenu">
      <h2>Liste des tablettes et leurs affectations
      Visiteur {{ id_viisteur}}
  <table classe="listeLegere">
         <tr>
           <th> Visiteurs</th>
           <th> Numéro Tablette</th>
           <th> Type de Tablette</th>
           <th> Mémoire Interne</th>
           <th> Mémoire Externe</th>
         </tr>
         {%for uneListe in lesTablettes%} 
         <tr>
           <td>{{uneListe.refVisiteur}}</td>
           <td>{{uneListe.idtablette}}</td>
           <td>{{uneListe.type}}</td>
           <td>{{uneListe.memoire}} </td>
           <td>{{uneListe.memoireExt}}</td>
         </br>
     </tr>
     {% endfor %}
  </table>   
</div> 

{% endblock %}